<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <title>Employee Directory</title>
</head>

<body>

    <div class="container">
    <h3>Employee Directory</h3>
        <hr>
        <h4>Departments</h4>
    <hr>

        <!-- Add a button -->
        <a th:href="@{/departments/showFormForAdd}"
           class="btn btn-primary btn-sm mb-3">
            Add Department
        </a>
    <table class="table table-bordered table-striped">
    <caption>Department Details</caption>
        <thead class="thead-dark">
            <tr>
                <th id="head">Department Name</th>
                <th id="head1">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempDept : ${departments}" >
                <td th:text="${tempDept.deptName}" />

                <td>
                    <!-- add update button -->
                    <a th:href="@{/departments/showFormForUpdate(deptId=${tempDept.id})}"
                       class="btn btn-info btn-sm">
                        Update
                    </a>
                    <!-- add Delete button -->
                    <a th:href="@{/departments/delete (deptId=${tempDept.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (! (confirm('Are you sure you want to delete this department along with its employees?'))) return false">
                        Delete
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
        <hr>
        <a th:href="@{/employees/list}">Back to Employees List</a>
    </div>
</body>

</html>